.box-card{
    background-color:#414469;
    padding: 20px;
    height: 270px;
    width: 280px;
    margin-inline: 20px;
}
.box-card-mobile{
    background-color:#414469;
    padding: 20px;
    height: 270px;
    width: 280px;
    margin-bottom: 20px;
}
.icon-product{
    width: 40px;
    height: 40px;
}
.row-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.desc-landing{
    color: white;
    font-size: 20px;
    line-height: 2;
    text-align: justify;
}